<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/all.css" rel="stylesheet">
        <link href="/css/login-style.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


        <!-- main -->
        <main>
            <form action=""></form>
            <form class="container" action="/users/editar/<%= userInfo.id %>?_method=PUT" method="POST"
                enctype="multipart/form-data">
                <h1>Actualizar datos </h1>
                <br>
                <br>

                <div>
                    <div class=form-field>
                        <label for="">Nombre </label>
                        <input 
                        type="text" 
                        id="name"
                        placeholder="Nombre" 
                        name="name" value="<%= userInfo.name %>"
                        >

                        <div class="nameError"></div>
                        <% if (locals.errors && errors.name){ %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class=form-field>
                        <label for="">Apellido </label>
                        <input 
                        type="text"
                        id="lastname" 
                        placeholder="Apellido" 
                        name="lastName" value="<%= userInfo.lastname %>"
                        >
                        <div class="lastNameError"></div>


                        <% if (locals.errors && errors.lastName){ %>
                            <div class="text-danger">
                                <%= errors.lastName.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class=form-field>
                        <label for="">Teléfono </label>
                        <input type="text" 
                        placeholder="Teléfono" 
                        id="phone" 
                        name="phone" value="<%= userInfo.phone %>"
                        >
                        <div class="phoneError"></div>

                        <% if (locals.errors && errors.phone){ %>
                            <div class="text-danger">
                                <%= errors.phone.msg %>
                            </div>
                            <% } %>

                    </div>


                    <div class=form-field>
                        <label for="">E-mail </label>
                        <input 
                        type="email" 
                        id="email"
                        placeholder="Email" 
                        name="email" 
                        value="<%= userInfo.email %>"
                        >

                        <div class="emailError"></div>

                        <% if (locals.errors && errors.email){ %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class=form-field>
                        <label for="">Dirección </label>
                        <input 
                        type="text" 
                        placeholder="Direccion" 
                        name="address" 
                        id="address"
                        value="<%= userInfo.address %>"
                        >

                        <div class="addressError"></div>

                        <% if (locals.errors && errors.address){ %>
                            <div class="text-danger">
                                <%= errors.address.msg %>
                            </div>
                            <% } %>
                    </div>


                    <div class=form-field>
                        <label for="">Subir foto de perfil </label>
                        <br>
                        <input type="file" name="imageUser" placeholder="Imagen">
                    </div>
                </div>

                <button type="submit">Modificar datos</button>

            </form>
            <form action="/users/delete/<%= userInfo.id %>?_method=DELETE" method="POST">
                <button class="delete-btn" style="background-color: red;">Dar de baja cuenta</button>
            </form>
        </main>

        <div class="modal-container">
            <div class="modal modal-close">
                <div class="modal-textos">
                    <p class="confirm-msg">¿Confirma la eliminacion de su cuenta?</p><br><br>
                    <div class="confirm-cancel">
                        <form action="/users/delete/<%= userInfo.id %>?_method=DELETE" method="POST">
                            <button class="delete-product-btn-modal">Borrar</button>
                        </form>
                        <button class="cancel">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- footer -->
        <%- include("../partials/footer.ejs") %>
            <script src="/js/editUser.js"></script>

</body>

</html>