<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include("../partials/head.ejs") %>
    <link href="css/all.css" rel="stylesheet">
    <link href="/css/login-style.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


    <!-- main -->
    <main>
    <form class="container-edit-user" action="/users/editar/<%= userInfo.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h1>Actualizar datos </h1>
        <br>
        <br>

        <div>
            <div class =form-field>
                <label for="">Nombre </label>
                <input 
                    type="text" 
                    placeholder="Nombre" 
                    name="name" 
                    value="<%= userInfo.name %>"
                >
                <% if (locals.errors && errors.name){ %>
                    <div class="text-danger">
                        <%= errors.name.msg %> 
                    </div>
                <% } %>
            </div>

            <div class =form-field>
                <label for="">Apellido </label>
                <input 
                    type="text" 
                    placeholder="Apellido" 
                    name="lastname"
                    value="<%= userInfo.lastname %>"   
                >

                
                <% if (locals.errors && errors.lastName){ %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %> 
                    </div>
                <% } %>
            </div>

            <div class =form-field>
                <label for="">Teléfono </label>
                <input 
                    type="text" 
                    placeholder="Teléfono" 
                    name="phone"
                    value="<%= userInfo.phone %>"
                >

                <% if (locals.errors && errors.phone){ %>
                    <div class="text-danger">
                        <%= errors.phone.msg %> 
                    </div>
                <% } %>

            </div>

        
            <div class =form-field>
                <label for="">E-mail </label>
                <input 
                    type="email" 
                    placeholder="Email" 
                    name="email"
                    value="<%= userInfo.email %>"
                >

                <% if (locals.errors && errors.email){ %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            </div>

            <div class =form-field>
                <label for="">Dirección </label>
                <input 
                    type="text" 
                    placeholder="Direccion" 
                    name="address"
                    value="<%= userInfo.address %>"
                    
                >

                <% if (locals.errors && errors.adress){ %>
                    <div class="text-danger">
                        <%= errors.adress.msg %> 
                    </div>
                <% } %>
            </div>

            <div class =form-field>
                <label for="">Nueva contraseña  </label>
                <input type="password" placeholder="Contraseña" name="password">

                <% if (locals.errors && errors.password){ %>
                    <div class="text-danger">
                        <%= errors.password.msg %> 
                    </div>
                <% } %>
            </div>

            <div class =form-field>
                <label for="">Repetir Contraseña </label>
                <input type="password" placeholder="Repetir contraseña" name = "passwordConfim">
                <% if (locals.errors && errors.passwordConfim){ %>
                    <div class="text-danger">
                        <%= errors.passwordConfim.msg %> 
                    </div>
                <% } %>


            </div><br>

            <div class =form-field>
                <label for="">Subir foto de perfil </label>
                <br>
                <input type="file" name="imageUser" placeholder="Imagen">

                <% if (locals.errors && errors.imageUser){ %>
                    <div class="text-danger">
                        <%= errors.imageUser.msg %> 
                    </div>
                <% } %>
            </div> 
        </div>
        <button type="submit">Modificar datos</button>
        <div>
        
    </main>


    <!-- footer -->
    <%- include("../partials/footer.ejs") %>
</body>

</html>