<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/login-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <!-- header -->
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="profile-container">
        <h2>¡Hola <%= user.fullName %> !</h2>
        <div class="profile-container-a">
          <div>
            <div class="profile-user-image">
              <img src="/images/users/<%= user.image %>" alt="" />
            </div>
            <div class="email"><%= user.email %></div>

            <div>
              <ul>
                <li>Modificar datos</li>
                <li>Historial de compras</li>
                <li>Dar de baja cuenta</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
