<!DOCTYPE html>
<html lang="en">

<head>
    <link href="css/all.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/login-style.css" rel="stylesheet">
    <%- include("../partials/head.ejs") %>

</head>

<body>

    <!-- header -->
    <%- include("../partials/header.ejs") %>


        <!-- main -->
        <main>
            <form class="container" enctype="multipart/form-data" action="/products/create" method="POST">
                <h1>Registro de producto</h1>
                <br>
                <div>
                    <div>
                        <input type="text" name="code" placeholder="Codigo">
                    </div>
                    <div>
                        <input type="text" name="name" placeholder="Nombre">
                    </div>
                    <div>
                        <input type="text" name="description" placeholder="Descripción">
                    </div>
                    <div>
                        <input type="number" name="price" placeholder="Precio">
                    </div>
                    <div>
                        <select name="line" class="line" >
                            <option value="" disabled selected>- Seleccionar Linea - </option>
                            <% Lines.forEach(Line => { %>
                            <option value="<%= Line.id %>"><%= Line.name %> </option>
                            <% }) %>
                        </select>

                    </div>
                    <div>
                        <select name="category" class="category" >
                            <option value="" disabled selected>- Seleccionar Categoria - </option>
                            <% Categories.forEach(Category=> { %>
                            <option value="<%= Category.id %>"><%= Category.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <br>

                    <div class="color-selection-register">
                        <label for="color">Disponible en color</label><br>
                        <% Colors.forEach(Color=> { %>
                        <label><input type="checkbox" name="color" value="<%= Color.id %>"> <%= Color.name %></label><br>
                        <% }) %>

                    </div>
                    <br>
                    <br>

                    <div class="size-selection-register">
                        <label for="size">Disponible en Talles</label><br>
                        <% Sizes.forEach(Size=> { %>
                        <label><input type="checkbox" name="size" value="<%= Size.id %>"> <%= Size.name %></label><br>
                        <% }) %>
                    </div>
                    <br>
                    <br>


                    <div>
                        <input type="file" name="image" placeholder="Imagen" multiple>
                    </div>
                </div>

                <div><button type="submit"> Agregar Producto </button></div>
            </form>

            <div>
                <a href="/products/list">
                    <button class="back-to-product-list-btn" type="button">Volver al listado de productos
                    </button>
                </a>
            </div>





        </main>


        <!-- footer -->
        <%- include("../partials/footer.ejs") %>
</body>

</html>