<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
    <link href="/css/all.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
  <%- include("../partials/header.ejs") %>

    <main>
      <br />
      <h3 class="product-list-title">Todos los Productos</h3>
      <!--      <section class="product-list"> -->
      <div class="products">

        <%products.forEach(function(prenda) { %>

          <a href="./detail/<%=prenda.id%>">


            <article class="product-list-article">
              <img src="/images/<%= prenda.image ? prenda.image : " remera-blanca.jpg" %>" alt="x" class="product_img"
              />
              <br />
              <br />
              <div class="main-article">
                <div class="main-article-numbers">
                  <p class="price"> $<%=prenda.price%>
                  </p>
                  <br />
                </div>
                <h4 class="description">
                  <%=prenda.product_name%>
                </h4>
                <br />
                <div class="add-to-cart">
                  <i class="fa-solid fa-bag-shopping"></i>
                </div>
              </div>
            </article>
          </a>

          <%})%>


      </div>
      <!--       </section> -->
    </main>

    <%- include("../partials/footer.ejs") %>
</body>

</html>