<!DOCTYPE html>
<html lang="en">
<header>
    <%- include("../partials/head.ejs") %>
        <link href="css/all.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <link href="/css/login-style.css" rel="stylesheet" />
</header>

<body>
    <!-- header -->
    <%- include("../partials/header.ejs") %>

        <!-- main -->
        <main>
            <h1>Editar Producto</h1>
            <label class="update-form-fields">
                <%= Products.product_name %>
            </label>
            <form action=""></form>
            <form 
            class="container" 
            enctype="multipart/form-data" 
            action="/products/edit/<%= Products.id%>?_method=PUT" 
            method="POST"
            >
                <br />
                <div>
                    <div>
                        <input id="code" type="text" name="code" placeholder="Codigo"
                            value="<%= locals.oldData ? oldData.code : Products.product_code %>" />

                        <div id="error-front-msg-1"></div>
                        <% if (locals.errors && errors.code){ %>
                            <div class="text-danger">
                                <%= errors.code.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <input type="text" id="name" name="name" placeholder="Nombre"
                            value="<%= locals.oldData ? oldData.name : Products.product_name %>" />
                        <div id="error-front-msg-2"></div>
                        <% if (locals.errors && errors.name){ %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <input type="text" name="description" id="description" placeholder="Descripción"
                            value="<%= locals.oldData ? oldData.description : Products.description %>" />
                        <div id="error-front-msg-3"></div>
                        <% if (locals.errors && errors.description){ %>
                            <div class="text-danger">
                                <%= errors.description.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <input type="number" name="price" id="price" placeholder="Precio"
                            value="<%= locals.oldData ? oldData.price : Products.price %>" />
                        <div id="error-front-msg-4"></div>
                        <% if (locals.errors && errors.price){ %>
                            <div class="text-danger">
                                <%= errors.price.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <select name="line" class="line" id="line">
                            <option value="">- Modificar Linea -</option>
                            <% Lines.forEach(Line=> { %>
                                <option value="<%= Line.id %>">
                                    <%= Line.name %>
                                </option>
                                <% }) %>
                        </select>
                        <% if (locals.errors && errors.line){ %>
                            <div class="text-danger">
                                <%= errors.line.msg %>
                            </div>
                            <% } %>
                                <div id="error-front-msg-5"></div>
                    </div>
                    <div>
                        <select name="category" class="category" id="category">
                            <option value="">- Modificar Categoria -</option>
                            <% Categories.forEach(Category=> { %>
                                <option value="<%= Category.id %>">
                                    <%= Category.name %>
                                </option>
                                <% }) %>
                        </select>
                        <% if (locals.errors && errors.category){ %>
                            <div class="text-danger">
                                <%= errors.category.msg %>
                            </div>
                            <% } %>
                                <div id="error-front-msg-6"></div>
                    </div>
                    <br />

                    <div class="color-selection-register">
                        <label for="color">Disponible en color</label>
                        <br />
                        <% Colors.forEach(Color=> { %>
                            <label><input type="checkbox" id="color" name="color" value="<%= Color.id %>" />
                                <%= Color.name %>
                            </label>
                            <br />
                            <% }) %>
                    </div>
                    <% if (locals.errors && errors.color){ %>
                        <div class="text-danger">
                            <%= errors.color.msg %>
                        </div>
                        <% } %>
                            <br />
                            <br />

                            <div class="size-selection-register">
                                <label class="update-form-fields">
                                    <%= Products.size %>
                                </label>
                                <label for="size">Disponible en Talles</label><br />
                                <% Sizes.forEach(Size=> { %>
                                    <label><input id="size" type="checkbox" name="size" value="<%= Size.id %>" />
                                        <%= Size.name %>
                                    </label><br />
                                    <% }) %>
                            </div>
                            <% if (locals.errors && errors.size){ %>
                                <div class="text-danger">
                                    <%= errors.size.msg %>
                                </div>
                                <% } %>
                                    <br />
                                    <div>
                                        <input type="file" name="image" placeholder="Imagen" multiple />
                                        <% if (locals.errors && errors.image){ %>
                                            <div class="text-danger">
                                                <%= errors.image.msg %>
                                            </div>
                                            <% } %>
                                    </div>
                </div>
                <button type="submit">Editar Producto</button>
            </form>



            <!-- DELETE -->
            <form action="/products/delete/<%= Products.id %>?_method=DELETE" method="POST">
                <button class="delete-btn">Borrar</button>
            </form>
        </main>

        <div class="modal-container">
            <div class="modal modal-close">
                <div class="modal-textos">
                    <p class ="confirm-msg">¿Confirma la eliminacion del producto?</p>
                    <br>
                    <br>
                    <div class="confirm-cancel">
                        <form action="/products/delete/<%= Products.id %>?_method=DELETE" method="POST">
                            <button class="delete-product-btn-modal">Borrar</button>
                        </form>
                        <button class="cancel">Cancelar</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- footer -->
        <%- include("../partials/footer.ejs") %>
            <script src="/js/productValidation.js"></script>
            <script src="/js/deleteConfirm.js"></script>
</body>

</html>